// Variables

$bgColor: #000000;
$primaryColor: #4B9CD3;
$lightTextColor: #E0E0E0;
$darkTextColor: #424242;
$navItems: 4;
$navItemColors: #303030 #3c3c3c #494949 #565656;
$facebook: #3b5998;
$twitter: #00b6f1;
$linkedin: #007bb6;
$skype: #00aff0;